<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">


	<listeners>
		<listener
			class-name="com.ExtentReportListener.ExtentReporterNG" />
	</listeners>


	<test name="UiCatalog App">
		<classes>

			<class name="com.poc.test.BaseTest"></class>
			<class name="com.poc.test.handleAlertTests"></class>
			<class name="com.poc.test.UiKitcatalogElementsTests"></class>



		</classes>
	</test>
</suite>



